@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Raleway:200|Ubuntu:300,400,500);

html, body {
    background-color: #393939;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.8);
}

text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    fill: white;
}

h4 {
    display: inline;
}

.links line {
    stroke-opacity: 0.4;
    stroke: white;
}

.nodes circle {
    stroke: black;
    stroke-width: 2px;
}

svg {
    font-family: 'Raleway', sans-serif;
    display: block;
    margin: auto;
}

.background path {
    fill: none;
    stroke: #444444;
    shape-rendering: geometricPrecision;
    position: relative;
}

.evidence path {
    fill: none;
    stroke: red;
    shape-rendering: geometricPrecision;
    position: relative;
}

.notEvidence path {
    fill: none;
    stroke: #007bff;
    shape-rendering: geometricPrecision;
    position: relative;
}
.axis line,
.axis path {
    fill: none;
    stroke: white;
    shape-rendering: geometricPrecision;
    position: relative;
    z-index: 10;
}

.axis text {
    font-size: 16px;
    fill: white;
    cursor: move;
}

.d3-tip {
    line-height: 1;
    padding: 12px;
    position: absolute;
    background: rgba(35, 35, 35, 0.8);
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
}

#tooltip table, #tooltip tr, #tooltip td {
    padding: 5px;
    text-align: left;
    font-weight: normal;
}

#tooltip tr, #tooltip td:first-child {
    font-weight: bold;
    text-align: right;
}

.axis {
    fill: gray;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    z-index: 10;
}

.axis .halo {
    stroke: gray;
    stroke-width: 4px;
    stroke-linecap: round;
}

.handle path {
    stroke: white;
    stroke-width: 3px;
    stroke-linecap: round;
    pointer-events: none;
}

.handle text {
    fill: white;
    text-align: center;
    font-size: 18px;
}

/*style boxplot */
.box line,
.box rect,
.box circle {
    fill: steelblue;
    stroke: grey;
    stroke-width: 1px;
}

.box .center {
    stroke-dasharray: 3, 3;
}

.box .outlier {
    fill: none;
    stroke: #000;
}

.x.axis path {
    fill: none;
    stroke: grey;
    shape-rendering: crispEdges;
}

p {
    display: inline;
    padding-left: 40px;
    font-size: 22px;
}

.funkyradio div {
    height: 20px;
    display: inline;
    clear: both;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
}

.funkyradio label {
    width: 60%;
    border-radius: 1px;
    border: 2px solid #808080;
    font-weight: normal;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

.funkyradio input[type="checkbox"]:empty {
    display: none;
}

.funkyradio input[type="checkbox"]:empty ~ label {
    position: relative;
    line-height: 2.5em;
    text-indent: 4.25em;
    margin-top: 1em;
    cursor: pointer;
    user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #D1D3D4;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
    border: 2px solid #007bff;

}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
    text-indent: .9em;
    background-color: #007bff;
}

.funkyradio input[type="checkbox"]:checked ~ label {
    border: 2px solid #007bff;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
    content: '\2714';
    text-indent: .9em;
    background-color: #808080;

}

.funkyradio input[type="checkbox"]:focus ~ label:before {
    box-shadow: 0 0 0 3px #999;

}


.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
    color: #ffffff;
    background-color: #007bff;
}

#target {
    font-size: 30px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

#attacker {
    font-size: 30px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    position: absolute;
    top: 50%;
    right: 97%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%)
}

.barchart {
    display: inline;
    clear: both;
    overflow: hidden;
}


#day1, #day2, #day3, #day4 {
    font-size: 30px;
}