body {
    background-color: #dddddd;
}
h1 {
    color: black;
}

.links line {
    stroke-opacity: 0.3;
    stroke: black;
}

.nodes circle {
    stroke: black;
    stroke-width: 1px;

}
.texts {
  font: 16px sans-serif;
    fill: black;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  border-radius: 2px;
    color: black;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: steelblue;
    shape-rendering: crispEdges;
    position: relative;
}

.foreground path {
    fill: none;
    stroke: steelblue;
    position: relative;
}

.axis line,
.axis path {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
    position: relative;
}

.axis text {
    font: 12px sans-serif;
    fill: black;
    cursor: move;
}
