body {
  background-color: #3d3d3d;
}
h1 {
   color:white;
}

.links line {
    stroke-opacity: 0.3;
    stroke: #fff;
}

.nodes circle {
    stroke: #fff;
    stroke-width: 1px;

}

.brush .extent {
  fill-opacity: .1;
  stroke: #fff;
  shape-rendering: crispEdges;
}
.texts {
  font: 16px sans-serif;
  fill: white;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  border-radius: 2px;
  color: #fff;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

svg {
    font: 10px sans-serif;
}

.background path {
    fill: none;
    stroke: steelblue;
    shape-rendering: crispEdges;
}

.foreground path {
    fill: none;
    stroke: steelblue;
}

.brush .extent {
    fill-opacity: .3;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis line,
.axis path {
    fill: none;
    stroke: #fff;
    shape-rendering: crispEdges;
}

.axis text {
    font: 12px sans-serif;
    fill: white;
    cursor: move;
}
